# Archivos y carpetas innecesarios de Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Configuración de Visual Studio
.vscode/
.vs/
*.csproj
*.sln
*.userprefs

# Archivos de Unity generados
*.pidb
*.suo
*.user
*.booproj
*.svd
*.unitypackage
*.dSYM

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración personal
/Assets/StreamingAssets/
*.tmx
*.tmxl
*.tx